{% extends 'core/base.html' %}

{% block content %}

<h1>Création de flèches</h1>
<form action="{% url 'arrows_create' %}" method="post">
    {% csrf_token %}
    <div>
        <h2>Encoche</h2>
        
        <div class="fieldWrapper">
            {{ form.nock_brand.errors }}
            {{ form.nock_brand.label_tag }}
            {{ form.nock_brand }}
        </div>
        
        <div class="fieldWrapper">
            {{ form.nock_color.errors }}
            {{ form.nock_color.label_tag }}
            {{ form.nock_color }}
        </div>
        <div class="fieldWrapper">
            {{ form.nock_size.errors }}
            {{ form.nock_size.label_tag }}
            {{ form.nock_size }}
        </div>
        <div class="fieldWrapper">
            {{ form.uses_nock_pin.errors }}
            {{ form.uses_nock_pin.label_tag }}
            {{ form.uses_nock_pin }}
        </div>
    </div>
    <hr/>
    <h2>Empennage</h2>
    <div class="fieldWrapper">
        {{ form.feathering_laterality.errors }}
        {{ form.feathering_laterality.label_tag }}
        {{ form.feathering_laterality }}
    </div>
    <div class="fieldWrapper">
        {{ form.feathering_type.errors }}
        {{ form.feathering_type.label_tag }}
        {{ form.feathering_type }}
    </div>
    <div class="fieldWrapper">
        {{ form.feathering_brand.errors }}
        {{ form.feathering_brand.label_tag }}
        {{ form.feathering_brand }}
    </div>
    <div class="fieldWrapper">
        {{ form.feathering_color.errors }}
        {{ form.feathering_color.label_tag }}
        {{ form.feathering_color }}
    </div>
    <div class="fieldWrapper">
        {{ form.feathering_cock_color.errors }}
        {{ form.feathering_cock_color.label_tag }}
        {{ form.feathering_cock_color }}
    </div>
    <div class="fieldWrapper">
        {{ form.feathering_size.errors }}
        {{ form.feathering_size.label_tag }}
        {{ form.feathering_size }}
    </div>
    <div class="fieldWrapper">
        {{ form.feathering_angle.errors }}
        {{ form.feathering_angle.label_tag }}
        {{ form.feathering_angle }}
    </div>
    <div class="fieldWrapper">
        {{ form.feathering_to_nock_distance.errors }}
        {{ form.feathering_to_nock_distance.label_tag }}
        {{ form.feathering_to_nock_distance }}
    </div>
    <hr/>
    <h2>Pointe</h2>
    <div class="fieldWrapper">
        {{ form.tip_brand.errors }}
        {{ form.tip_brand.label_tag }}
        {{ form.tip_brand }}
    </div>    
    <div class="fieldWrapper">
        {{ form.tip_profile.errors }}
        {{ form.tip_profile.label_tag }}
        {{ form.tip_profile }}
    </div>    
    <div class="fieldWrapper">
        {{ form.tip_weight.errors }}
        {{ form.tip_weight.label_tag }}
        {{ form.tip_weight }}
    </div>
    <hr/>
    <h3>Tube</h3>
    <div class="fieldWrapper">
        {{ form.tube_brand.errors }}
        {{ form.tube_brand.label_tag }}
        {{ form.tube_brand }}
    </div>    
    <div class="fieldWrapper">
        {{ form.tube_material.errors }}
        {{ form.tube_material.label_tag }}
        {{ form.tube_material }}
    </div>    
    <div class="fieldWrapper">
        {{ form.tube_length.errors }}
        {{ form.tube_length.label_tag }}
        {{ form.tube_length }}
    </div>    
    <div class="fieldWrapper">
        {{ form.tube_spine.errors }}
        {{ form.tube_spine.label_tag }}
        {{ form.tube_spine }}
    </div>    
    <div class="fieldWrapper">
        {{ form.tube_diameter.errors }}
        {{ form.tube_diameter.label_tag }}
        {{ form.tube_diameter }}
    </div>
    <hr/>
    <div class="fieldWrapper">
        {{ form.number_of_arrows.errors }}
        {{ form.number_of_arrows.label_tag }}
        {{ form.number_of_arrows }}
    </div>
    <div class="fieldWrapper">
        {{ form.not_broken.errors }}
        {{ form.not_broken.label_tag }}
        {{ form.not_broken }}
    </div>
    <input type="submit" value="créer">
</form>
{% endblock content %}