<footer class="p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-900 flex flex-col md:flex-row items-center justify-around">
    <div class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Rémi TAUVEL - {% now "Y" %}</div>
    <div class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
        License <a class="underline" href="http://www.wtfpl.net">WTFPL</a>
    </div>
    <div class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
        Lien <a class="underline"
    href="https://github.com/remace/OC-P13_Archery_Buddy">Github</a>
    </div>
</footer>
