{% extends "core/base.html" %}
{% block content %}
    <h1 class="my-6 text-2xl text-center font-bold">Bienvenue sur ArcheryBuddy</h1>
    <p class="px-16 my-6 text-justify">
        Cette application est un projet de fin de formation, dont le but est de fournir une aide aux archers.
    </p>
    <div>
        <p class="px-16 my-6 text-justify mb-4">À terme, elle devra:</p>
        <ul role="list"
            class="px-16 text-justify ml-8"
            style="list-style-type:'\21AA   '">
            <li>Permettre à un archer de référencer son matériel (arcs et flèches)</li>
            <li>Permettre à un archer d'enregistrer ses feuilles d'entrainement "compétition fictive"</li>
            <li>
                Permettre d'aider un archer à choisir les flèches qui sont le mieux groupées après une session d'acquisition de statistiques
            </li>
        </ul>
    </div>
    <p class="px-16 my-6 text-justify ">
        Commencez par <a class="text-violet-700 underline" href="{% url 'register' %}">créer un compte</a>, puis enregistrez votre matériel, et profitez de l'application!
    </p>
{% endblock content %}
