{% extends "core/base.html" %}
{% block content %}
    <h1>Bienvenue sur ArcheryBuddy</h1>
    <p>Cette application est un projet de fin de formation, dont le but est de fournir une aide aux archers.</p>
    <p>À terme, elle devra:</p>
    <ul>
        <li>Permettre à un archer de référencer son matériel (arcs et flèches)</li>
        <li>Permettre à un archer d'enregistrer ses feuilles d'entrainement "compétition fictive"</li>
        <li>
            Permettre d'aider un archer à choisir les flèches qui sont le mieux groupées après une session d'acquisition de statistiques
        </li>
    </ul>
    <p>Commencez par créer un compte, puis enregistrez votre matériel, et profitez de l'application!</p>
{% endblock content %}
